<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	
	<body>

	<% if flash[:notice] %>
	 	<div id="notice"><%= flash[:notice] %></div>
	 <% end %>

	 <% if current_user %>
	    Welcome, <%= current_user.user_name %>
	  <% end %>


	  <%= yield %>

	</body>
</html>
